# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.pid.lock

# Coverage directory used by testing tools
coverage/

# Dependency directories
jspm_packages/
bower_components/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Environment variables
.env

# MacOS files
.DS_Store

# VSCode settings
.vscode
